.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 10px;
    border: 1px solid grey;
    border-radius: 8px;

    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 0;
}

.label {
    margin: 0;
    padding: 0 2px;
    position: absolute;
    top: -20px;
    left: 10px;
    background-color: white;
}
