.row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 5px 0;

    display: grid;
    grid-template-columns: 1fr 1fr 3fr;

    & select {
        max-width: 100px;
    }

    & input {
        // color: white;
        // max-width: 80px;
    }
}

.step {
    // max-width: 50px;
}

// .time {
//     max-width: 100px;
// }
