.wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;

    @media print {
        display: flex;
        flex-direction: row;
    }

    & input {
        max-width: 100px;
    }

    // & input,
    // label {
    //     color: white;
    //     border-color: white;
    //     outline: white;
    // }
}
